@import "tailwindcss";
@plugin "daisyui";

:root {
	font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #f8fafc;
}